/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,html,h1,h2,h3,h4,h5,p,div,span, ul, li{
  border: 0;
  margin: 0;
  padding: 0;
}

ul{
  list-style-type:none;
}

.pull-left{float: left}
.pull-right{float: right}
.clearfix{clear: both}
.half-width{width: 50%}
.full-width{width: 100%}
.clear-left{clear: left}
.hidden{display:none}

.site-header{
  height:40px;
  background:black;
  color:white;
  padding:5px;
}

.site-header .logout-link{
  float: right;
  color: white;
}
