.contact{
  border: 1px solid black;
  border-top: none;
  min-height:100px;
  padding: 5px;
}
.contact > .left-panel{
  float: left;
  min-height: 100px;
  width: 90px;
  margin-right: 5px;
}

.contact  img{
  background: black;
  height: 90px;
  width: 90px;
}
.contact > .info{
  margin-left: 95px;
}

.contact  .addresses-wrapper{
  margin-bottom: 40px;
}

.contact .contact-actions{
  width: 90px;
}
